/*Sets image size according to the container size they are put and keeps the ratio*/
img  {max-width: 100%; max-height: 100%}

/*Termes logo image positioning*/
#logo{
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 5px;	

}

/*The home button in the navigation bar*/
.glyphicon{
	font-size: 15px;
	margin-bottom: 0px;
}

/*The styles of the main navigation bar*/
/*Removes default effects of the navigation bar as a whole*/
.navbar-default {
	background-image: none;
	box-shadow: none;
}

/*Changes size and styles of the navigation bar as a whole*/
.navbar-default .nav.navbar-nav{
	width: 100%;
	background-color: white;
	margin: 0px;
	box-shadow: none;
	background-image: none;
}

/*Adds borders between idividual sections in the navigation bar*/
.navbar-default .nav.navbar-nav .dropdown {
	border-left: 1px ridge #E4ECF2;
	
}

/*Removes padding around navigation bar as whole*/
.collapse.navbar-collapse {
	padding-left: 0px;
	padding-right: 0px;
}	

/*Style of the current selected option in the navigation bar*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: white;
	background: rgba(155, 209, 237, 0.64);
	font-size: 16px;
	font-family: arial;
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 25px;
	padding-top: 25px;
	
}


/*Creates circles for the language navigation and sets the style*/
#circle{ padding: 0; margin: 10px 0 0 0;}
#circle li{float: left; margin-left: 10px;}
#circle ul{margin-left: 15px; list-style-type: none;}
#circle li a{
	font-size: 12px;
	display: block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	background: rgb(155, 209, 237);
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	}


/*Changes the background colour of the circles when hovered over or selected*/
#circle .active a, #circle li:hover a, #circle a:focus{
	background-color: #019fde;
	text-decoration: none;
}

/*Sets style for the dropdown menus in the navigation bar*/
.navbar-default .navbar-nav>.dropdown>a {
	color: #4EA9E6;
	font-size: 16px;
	font-family: arial;
	font-weight: 500;
	text-transform: uppercase;
	/*background: #E4ECF2;*/
	background: white;
	background-color: white;
	box-shadow: none;
	padding-top: 25px;
	padding-bottom: 25px;	
}

/*Sets style for the background of the element in the navigation bar when hovered over*/
.navbar-default .navbar-nav>.dropdown>a:hover {
	background: rgba(155, 209, 237, 0.64);
	margin: 0px;	
}

/*Sets style for the background of the element in the navigation bar when focused over*/
.navbar-default .navbar-nav>.dropdown>a:focus {
	background: rgb(155, 209, 237);
}


/*Sets the background colour for the dropdown menu*/
.dropdown-menu{
	background-color: rgba(155, 209, 237, 0.74);
}

/*Sets the background colour for the dropdown menu when hovered over*/
.dropdown-menu>li:hover>a{
	background: #1CA6EB;
}

/*Sets the colour of the menu button when screen size gets small*/
.navbar-default .navbar-toggle{
	border-radius: #999;
}

/*Page footer style*/
.end{
	background: rgba(155, 209, 237, 0.64);
	padding: 10px;
	margin: 5px 0px;
}





