.container{
	max-width: 1920px;
	width: 100%;
}

.container.sub-nav{
	padding: 0px;
}

.sub-navigation{
	padding: 0px;
}
.sub-navigation .nav-control{
	width: 100%;
	-webkit-padding-start: 0px;
	margin: 0px;

}

.sub-navigation li{
	float: left;
	padding: 10px;
	list-style-type: none;
	background-color: rgba(155, 209, 237, 0.74);
	width: 12.5%;
	text-align: center;
	
}

.sub-navigation li.active{
	background-color: rgba(155, 209, 237, 1);
	font-weight: bold;
}

.sub-navigation li a{
	text-decoration: none;
}